.TaskColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 300px;
  margin: 0 10px;
  color: #222222;
  box-sizing: border-box;
}



.task-column-title {
  background-color: #fff;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 0 1px #888;
  border-radius: 2px;
}

.task-column-content {
  background-color: #fff;
  box-sizing: border-box;
  height:100%;
  box-shadow: 0 0 1px #888;
  border-radius: 2px;
  overflow: auto;
}
